In [1]:
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine

In [2]:
aisles_df = pd.read_csv('/Users/bashirwarsame/Desktop/sql_project/Data_Trim/aisles.csv')
aisles_df

     aisle_id                       aisle
0           1       prepared soups salads
1           2           specialty cheeses
2           3         energy granola bars
3           4               instant foods
4           5  marinades meat preparation
..        ...                         ...
129       130    hot cereal pancake mixes
130       131                   dry pasta
131       132                      beauty
132       133  muscles joints pain relief
133       134  specialty wines champagnes

[134 rows x 2 columns]

In [3]:
orders_df = pd.read_csv('/Users/bashirwarsame/Desktop/sql_project/Data_Trim/orders_subset.csv')
orders_df

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1363380,50,prior,1,3,9,NaN
1,3131103,50,prior,2,6,12,10.0
2,2197066,50,prior,3,1,13,9.0
3,3201640,50,prior,4,0,11,6.0
4,2756806,50,prior,5,4,14,11.0
...,...,...,...,...,...,...,...
82678,960985,206175,prior,3,0,14,8.0
82679,583707,206175,prior,4,1,17,30.0
82680,2950302,206175,prior,5,0,14,6.0
82681,398664,206175,prior,6,0,9,14.0
82682,1241200,206175,train,7,0,15,14.0

In [4]:
departments_df = pd.read_csv('/Users/bashirwarsame/Desktop/sql_project/Data_Trim/departments.csv')
departments_df

    department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing

In [5]:
products_df = pd.read_csv('/Users/bashirwarsame/Desktop/sql_project/Data_Trim/products.csv')
products_df

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
...,...,...,...,...
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5
49684,49685,En Croute Roast Hazelnut Cranberry,42,1
49685,49686,Artisan Baguette,112,3
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8
49687,49688,Fresh Foaming Cleanser,73,11

In [6]:
order_products_df = pd.read_csv('/Users/bashirwarsame/Desktop/sql_project/Data_Trim/order_products__train_subset.csv')
order_products_df

       order_id  product_id  add_to_cart_order  reordered
0          1077       13176                  1          1
1          1077       39922                  2          1
2          1077        5258                  3          1
3          1077       21137                  4          1
4          1119        6046                  1          1
...         ...         ...                ...        ...
53699   3420996        2086                  7          1
53700   3420996       29118                  8          0
53701   3420996       27423                  9          1
53702   3420996       12125                 10          1
53703   3420996        1891                 11          0

[53704 rows x 4 columns]

In [7]:
pgconn = psycopg2.connect(
    host='localhost',
    user='bashirwarsame',
    password='new_password.',
    dbname='bashirwarsame',
    port='5432')

In [8]:
pgcurrsor = pgconn.cursor()

In [9]:
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
pgconn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)

In [10]:
pgcurrsor.execute('SELECT current_database()')

pgcurrsor.fetchone()

('bashirwarsame',)

In [11]:
engine = create_engine("postgresql+psycopg2://bashirwarsame:new_password.@localhost/bashirwarsame")

In [12]:
engine

Engine(postgresql+psycopg2://bashirwarsame:***@localhost/bashirwarsame)

In [13]:
pgcurrsor.execute("""
    CREATE TABLE aisles(
        aisle_id INTEGER PRIMARY KEY,
        aisle VARCHAR(225)
        )
""")

In [15]:
pgcurrsor.execute("""
    CREATE TABLE departments(
        department_id INTEGER PRIMARY KEY,
        department VARCHAR(255)
        )
""")

In [30]:
pgcurrsor.execute("""
    CREATE TABLE products1(
        product_id INTEGER PRIMARY KEY,
        product_name VARCHAR(255),
        aisle_id INTEGER,
        department_id INTEGER,
        FOREIGN KEY(aisle_id) REFERENCES aisles(aisle_id),
        FOREIGN KEY(department_id) REFERENCES departments(department_id)
        )
""")

In [35]:
pgcurrsor.execute("""
    CREATE TABLE orders2(
        order_id INTEGER PRIMARY KEY,
        user_id INTEGER,
        order_number INTEGER,
        order_dow INTEGER,
        order_hour_of_day INTEGER,
        days_since_prior_order INTEGER,
        )
""")

In [43]:
pgcurrsor.execute("""
    CREATE TABLE orders_products3(
      order_id INTEGER,
      product_id INTEGER,
      add_to_cart_order INTEGER,
      reordered INTEGER,
      PRIMARY KEY(order_id, product_id),
      FOREIGN KEY(product_id) REFERENCES products1(product_id)
      )
""")

In [33]:
orders_df.drop('eval_set', inplace = True, axis = 1)

In [23]:
aisles_df.to_sql('aisles', engine, if_exists='append', index=False)

134

In [24]:
departments_df.to_sql('departments', engine, if_exists='append', index=False)

21

In [31]:
products_df.to_sql('products1', engine, if_exists='append', index=False)

688

In [37]:
orders_df.to_sql('orders2', engine, if_exists='append', index=False)

683

In [44]:
order_products_df.to_sql('orders_products3', engine, if_exists='append', index=False)

704